{% extends "base.html" %}
{% load teamwork_tags %}
{% block title %}{{ document.name }} | view{% endblock %}

{% block breadcrumbs %}
    /
    {% for parent in document.get_permission_parents reversed %}
        <a href="{% url "wiki.views.view" name=parent.name %}">{{ parent.name }}</a> /
    {% endfor %}
    <a href="{% url "wiki.views.view" name=document.name %}">{{ document.name }}</a>
{% endblock %}

{% block content %}
<article id="document">

<section id="content">
    <h1>{{ document.name }}</h1>
    <section>{{ document.content }}</section>
</section>

<hr>

<h3>Actions</h3>
{% get_all_obj_permissions request.user for document as "perms" %}
{% get_policy_admin_links request.user for document as "policy_links" %}
<ul>
    {% if policy_links.change_one %}
        <li><a href="{{ policy_links.change_one }}">manage access policy</a></li>
    {% elif policy_links.change_list %}
        <li><a href="{{ policy_links.change_list }}">manage access policies</a></li>
    {% elif policy_links.add %}
        <li><a href="{{ policy_links.add }}">add access policy</a></li>
    {% endif %}
    {% if 'wiki.add_document_child' in perms %}
        <li><a href="{% url "wiki.views.create" %}?parent={{ document.pk }}">create child document</a></li>
    {% endif %}
    {% if 'wiki.change_document' in perms %}
        <li><a href="{% url "wiki.views.edit" name=document.name %}">edit this document</a></li>
    {% endif %}
    {% if 'wiki.delete_document' in perms %}
        <li><a href="{% url "wiki.views.delete" name=document.name %}">delete this document</a></li>
    {% endif %}
</ul>

<h3>Permissions</h3>
<ul>
    {% for p in perms %}
        <li>{{ p }}</li>
    {% endfor %}
</ul>

</article>
{% endblock %}
