{% extends "base.html" %}
{% load teamwork_tags %}
{% block title %}{{ team.name }} | team detail{% endblock %}
{% block content %}
<article id="team">

    <h1>Team: <span class="name">{{ team.name }}</span></h1>
    <p class="description">{{ team.description }}</p>

    <h2>Members:</h2>
    <ul>
        {% for member in members %}
        <li>
            <a href="{% url "profiles.views.user_detail" member.user.username %}">{{ member.user }}</a>
            {% if member.role %}({{ member.role }}){% endif %}
        </li>
        {% endfor %}
    </ul>

</article>
{% endblock %}
